{
  "@type": "ListItem",
  "position": {{ include.index }},
  "item": {
    "@type": "BlogPosting",
    "url": "https://www.lecrochetdargent.fr{{ include.url }}",
    "headline": "{{ include.title }}",
    "image": {
      "@type": "ImageObject",
      "contentUrl": "https://www.lecrochetdargent.fr/images/assets/{{ post.asset_path }}/featured-800.jpg",
      "url": "https://www.lecrochetdargent.fr",
      "width": "800",
      "height": "1067"
    },
    "author": {
      "@type": "Person",
      "name": "Hélène"
    },
    "publisher": {
      "@type": "Organization",
    "name": "Hélène",
    "sameAs": [
          "https://twitter.com/crochetdargent",
          "https://facebook.com/Le-crochet-dargent-456929781182767",
          "https://framapiaf.org/@crochetdargent"
    ],
    "logo": {
  		"@type": "ImageObject",
  		"contentUrl": "https://www.lecrochetdargent.fr/images/assets/logo.png",
  		  "url": "https://www.lecrochetdargent.fr"
    }
    },
       "mainEntityOfPage":{  
      "@type":"WebPage",
      "@id":"https://www.lecrochetdargent.fr{{ include.url }}"
   },
    "datePublished": "{{ include.date | | date: '%Y-%m-%d' }}",
    "dateModified": "{{ include.date | | date: '%Y-%m-%d' }}"
  }
}
