<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="fb:pages" content="456929781182767" />
{% if site.facebookapps_id %}
<meta property="fb:app_id" content="{{ site.facebookapps_id }}"/>
{% endif %}
<meta name="keywords" content="blog de tricot, loisirs créatifs, modèles, crochet, tricot, blog, crochetter, tricoter" />
<title>
  {% if page.title == 'Home' %}
    {{ site.title }} &bull; {{ site.description }}
  {% else %}
    {{ page.title }}
  {% endif %}
</title>

<meta name="description" content="{% if page.meta_description %}{{ page.meta_description | strip_newlines | truncate: 160 }}{% else %}{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}{% endif %}">
<meta property="article:publisher" content="https://www.facebook.com/Le-crochet-dargent-456929781182767/" />

<!-- flattr -->
<meta name="flattr:id" content="32j95w">

<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
<script src="{{ "/bower_components/imager.js/Imager.js" | relative_url }}"></script>
{% if page.support contains 'jquery' %}
<script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
{% endif %}

{% if page.support contains 'gallery' %}
<script src="/bower_components/lightgallery/dist/js/lightgallery-all.min.js"></script>
<link rel="stylesheet" href="/bower_components/lightgallery/dist/css/lightgallery.min.css" />
<script src="/bower_components/masonry/dist/masonry.pkgd.js"></script>
<link rel="stylesheet" href="/css/gallery.css" />
<script src="/bower_components/isotope/dist/isotope.pkgd.min.js"></script>
<script src="/bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
{% endif %}

<!-- i18n -->
{% I18n_Headers %}

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">


{% if site.google_analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');

</script>
{% endif %}

{% if site.facebookapps_id %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.10&appId={{ site.facebookapps_id }}";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endif %}
