<header class="header">

  <div class="overlay">

    <div class="container">

      <h1 class="title">
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
        {% if page.paginate.category %} - {{ page.paginate.category }}{% endif %}
      </h1>

      <nav class="navbar">
        <a href="#" class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </a>

        <ul class="nav">
          {% for page in site.pages %}
            {% if page.slug and page.slug != 'home' %}
            <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
          <!--<li><a href="{{ site.author.url }}/about" target="_blank">l'auteur</a></li> -->
          <!--          <li><a href="{{ site.github }}" target="_blank">Github</a></li>-->
          {% for tongue in site.languages %}
          <li><a {% if tongue == site.active_lang %}style="font-weight: bold;"{% endif %} href="{% if tongue == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %} {{site.baseurl}}/{{ tongue }}{{page.url}} {% endif %}"><img src="{{site.baseurl}}/assets/images/{{ tongue }}.png"/></a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>

    {% if page.slug == 'home' %}
      <h2 class="txt-center">
        Bienvenue sur <strong>{{ site.title }}</strong>!
      </h2>
    {% endif %}

  </div>

</header>
